@font-face {
    font-family: 'font-menu';
    src: url(../../src/assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: font-head;
    src: url(../../src/assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: font-head-reg;
    src: url(../../src/assets/fonts/NotoSans-Regular.ttf);
}