@import '../../../public/SASS/color';
@import '../../../public/SASS/mixin';

@font-face {
    font-family: font-menu;
    src: url(../../assets/fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: font-head;
    src: url(../../assets/fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: font-head-reg;
    src: url(../../assets/fonts/NotoSans-Regular.ttf);
}

@font-face {
    font-family: font-light;
    src: url(../../assets/fonts/Quicksand-Light.ttf);
}

